<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EXLLifePROServiceSOAPBinding_IExlLifePROService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8050/ExlLifeProService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="EXLLifePROServiceSOAPBinding_IExlLifePROService"
                contract="IExlLifePROService" name="EXLLifePROServiceSOAPBinding_IExlLifePROService" />
        </client>
    </system.serviceModel>
</configuration>